{% from "templates/components/icon.html" import icon %}

<ul class="social-menu">
	<li class="social-menu__elem">
			<a href="https://twitter.com" class="social-menu__link social-menu__link--twitter" target="_blank">{{ icon('twitter', 'social-menu__icon social-menu__icon--twitter') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://facebook.com" class="social-menu__link social-menu__link--facebook" target="_blank">{{ icon('facebook', 'social-menu__icon social-menu__icon--facebook') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://instagram.com" class="social-menu__link social-menu__link--instagram" target="_blank">{{ icon('instagram', 'social-menu__icon social-menu__icon--instagram') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://linkedin.com" class="social-menu__link social-menu__link--linkedin" target="_blank">{{ icon('linkedin', 'social-menu__icon social-menu__icon--linkedin') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://youtube.com" class="social-menu__link social-menu__link--youtube" target="_blank">{{ icon('youtube', 'social-menu__icon social-menu__icon--youtube') }}</a>
	</li>
</ul>