{% from "templates/components/form-group.html" import formGroup %}
{% from "templates/components/button.html" import button %}

<form action="#" class="modal--login__form form-restore-password">
		<p class="modal--login__before-text">
			To restore access to your account, create 
			a new password
		</p>
		{{formGroup(id='restore-password',
				inputType="password",
				labelText='Password',
				isRequired=true,
				class="modal__form-group")
		}}
		{{formGroup(id='restore-password-confirm',
				inputType="password",
				labelText='Password Confirmation',
				isRequired=true,
				class="modal__form-group")
		}}
		<div class="form-restore-password__submit-row">
			{{ button(type="3d", text="Create Password", class="modal--login__submit", isSubmit=true)}}	
		</div>
		<p class="modal--login__text">
			Do not have an account? 
			<a class="modal--login__link" href="#" data-form="register">Register</a>
		</p>																					
</form>	