<div class="order-preview">
		<div class="order-preview__header">
				<p class="order-preview__title">Order Preview</p>
				<p class="order-preview__value">0.002312<span class="order-preview__curency">ABC</span></p>
		</div>
		<div class="order-preview__body">
				<p class="order-preview__title">ABC Price</p>
				<p class="order-preview__value">$23,643.85</p>
				<p class="order-preview__title">Payment Method</p>
				<p class="order-preview__value">Chase</p>
				<p class="order-preview__title">Purchase</p>
				<p class="order-preview__value">$95.32</p>
				<p class="order-preview__title">CoinBase Fee</p>
				<p class="order-preview__value">$4.68</p>
				<p class="order-preview__title">TOTAL</p>
				<p class="order-preview__value">$100.00</p>
				{{ button(type="3d", text="PAY $100.00", class="order-preview__button js-step-button", attrString="data-step=step3")}}
		</div>
</div>