<div class="order-preview">
		<div class="order-preview__header">
				<p class="order-preview__title">Order Preview</p>
				<p class="order-preview__value">0.1582013241<span class="order-preview__curency">ABC</span></p>
		</div>
		<div class="order-preview__body">
				<p class="order-preview__title">DEPOSIT TO</p>
				<p class="order-preview__value">Cash (USD)</p>
				<p class="order-preview__title">Price</p>
				<p class="order-preview__value">$23,643.85/ABC</p>
				<p class="order-preview__title">SALE</p>
				<p class="order-preview__value">$3,740.49</p>
				<p class="order-preview__title">CoinBase Fee</p>
				<p class="order-preview__value">57.42</p>
				<p class="order-preview__title">TOTAL</p>
				<p class="order-preview__value">$3,683.07</p>
				{{ button(type="3d", text="SELL FOR $3,683.07", class="order-preview__button js-step-button", attrString="data-step=step3")}}
		</div>
</div>